{% extends "prelogin-layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}

{% block title %} Details = {{ book.title }} {% endblock %}

{% block content %}
<div class="container_details">
        <h1>{{ book.title }} ({{ book.year }})</h1>
        <c>{{ book.author }}</c>
        <h6>ISBN: {{ book.isbn }}</h6>

        <div class="goodreads">
            <h3><a href="https://www.goodreads.com/">Goodreads</a> Data</h3>
        </div>
        <table class="table">
            <tr>
                <td>Average rating</td>
                <td>{{ good_reads.average_rating }}</td>
            </tr>
            <tr>
                <td>Ratings count</td>
                <td>{{ good_reads.ratings_count }}</td>
            </tr>
            <tr>
                <td>Reviews count</td>
                <td>{{ good_reads.reviews_count }}</td>
            </tr>
        </table>
        <div class="user_reviews">
            <h2>AllReads Community Reviews</h2>
            {% for review in reviews %}
            <p>
                <c>{{ review.rating }}</c> / 5
                <br />
                {{ review.review_text}} -
            </p>
            {% endfor %}
        </div>
        <br>
        <form class="form" method="post" action="/details/{{book.isbn}}">
            <h2 class="form-signin-heading">Leave a<c>Review</c></h2>
            {{ form.hidden_tag() }}
            <div class="form-group">
                <textarea rows="4" cols="100" name="review_text" placeholder="Write your review here.."></textarea>
            </div>
            <label for="rating">Rating slider</label>
            <div class="slidercontainer">
                <input name="rating" type="range" min="1" max="5" value="4" class="slider" id="myRange">
            </div>
            <br>
            <button class="btn btn-lg btn-primary" type="submit">Review</button>
        </form>
    </div>
{% endblock %}