{% extends "prelogin-layout.html" %}
{% from 'form_helper.html' import displayField %}

{% import "bootstrap/wtf.html" as wtf %}
{% include "bootstrap/base.html" %}


{% block title %}
    Registration
{% endblock %}

{% block content %}

    <div class="register">
        <h1>Get <c>started</c></h1>
        <p>Registration is free, and it's a lifetime membership.</p>

        <form action="{{ url_for('register') }}", method="POST">
            
            {{ wtf.form_field(form.username, 'Username', autocomplete="off",
                autofocus=true) }}
            {{ wtf.form_field(form.password, 'Password') }}
            {{ wtf.form_field(form.confirm_pswd, 'Retype Password') }}
            <br>
            <div class="submit">
                <input class="btn btn-default" type="submit" value="Register">
            </div>

            {{ form.csrf_token }}

        </form>
    </div>
{% endblock %}